{% extends "base.html" %}

{% block content %}


<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
  <source src="https://video.twimg.com/tweet_video/ELZwzUiUUAIO7Db.mp4" type="video/mp4">
</video>
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-white">
    <h1> House of Quiet</h1>
          <br />
          <div>
              <br /><br />
             <form method='POST' action="/"
              <h2 id="sentence">{{sentence}}</h2>
              <br>
 <a href="/" class="btn btn-primary " role="button" aria-pressed="true">New Quote</a>
</form>
    <br>
    <form method='POST' action="/tweet">
     <button class="btn btn-primary" id='tweet'>
         Tweet this sentence!
     </button>

     </form>
    <br>
    To see tweets visit twitter.com/SWFTBOTT using this as a fill in for star wars bot
    </div>

</div>
          </div>
      </div>



{% endblock %}
